
body {
    margin:0;
    padding:0;
}

h1 {
    margin:0;
    padding:0;
}

#heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: orange;
    padding: 0;
}

#rgb {
    font-size: 55px;
    color: rgb(100, 125, 30)
}

#grid {
    display: grid;
    width: 600px;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 200px;
    margin-left: auto;
    margin-right: auto;
}
.square {
        padding: 5px;
        margin: 5px;
    }
